.menu-user {
    position: relative;
    &::after {
        content: "";
        height: 15px;
        width: 50px;
        position: absolute;
        top: 33px;
        left: 0;
        width: 100%;
        background-color: transparent;
    }
    .user {
        width: 150px;
        overflow: hidden;
        position: relative;
    }
    .user-info {
        display: none;
        position: absolute;
        top: 48px;
        left: 0;
        box-shadow: 5px 0px 5px 0 rgba(0, 0, 0, 0.5);
        width: 100%;
        background-color: $bg-main;
        padding: 10px;
        border-radius: 5px;
        text-align: center;

        .user-info-item {
            padding-bottom: 5px;
            padding-top: 5px;
            border-bottom: 1px solid #fff;

            a{
                color: #fff;
            }
            button{
                background-color: transparent;
                color: #fff;
                border:none;
            }
        }
    }
    &:hover .user-info {
        display: block;
    }
}