@model CellPhone.Views.Shared.Components.SwiperProducts.DefaultModel
@{

}

<head>
    <link rel="stylesheet" href="~/css/site.min.css">
    <link rel="stylesheet" href="~/css/grid.css">
    <link href="~/icons/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />

</head>

<body>
    <!-- Swiper -->
    <div class="grid wide">
        <div class="row">
            <div class="Container col">
                <h1>Sản phẩm bạn chạy</h1>
                <div id="mySwiper" class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#" class="products">
                                <div class="products-imgae p-1">
                                    <img width="70%" height="70%" src="~/images/products/t_m_12.webp" alt="Iphone 14">
                                </div>
                                <div class="products-content p-2">
                                    <p class="products-content-title">iPhone 14 Pro 128GB | Chính hãng VN/AiPhone 14 Pro 128GB </p>
                                    <div class="products-content-price">
                                        <span class="price-new">22.222.222 đ</span>
                                        <span class="price-old">25.555.555 đ</span>
                                    </div>
                                </div>
                                <div class="products-infoFree ">
                                    <p>Tặng thêm dịch vụ bảo hành vip 12 tháng 1 đổi 1</p>
                                </div>
                                <div class="products-likes">
                                    <i class="ti-heart"></i>
                                </div>
                            </a>
                        </div>

                         <div class="swiper-slide">
                            <a href="#" class="products">
                                <div class="products-imgae p-1">
                                    <img width="70%" height="70%" src="~/images/products/t_m_12.webp" alt="Iphone 14">
                                </div>
                                <div class="products-content p-2">
                                    <p class="products-content-title">iPhone 14 Pro 128GB | Chính hãng VN/AiPhone 14 Pro 128GB | Chính hãng VN/AiPhone 14 Pro 128GB | Chính hãng VN/A</p>
                                    <div class="products-content-price">
                                        <span class="price-new">22.222.222 đ</span>
                                        <span class="price-old">25.555.555 đ</span>
                                    </div>
                                </div>
                                <div class="products-infoFree ">
                                    <p>Tặng thêm dịch vụ bảo hành vip 12 tháng 1 đổi 1</p>
                                </div>
                                <div class="products-likes">
                                    <i class="ti-heart"></i>
                                </div>
                            </a>
                        </div>
                         <div class="swiper-slide">
                            <a href="#" class="products">
                                <div class="products-imgae p-1">
                                    <img width="70%" height="70%" src="~/images/products/t_m_12.webp" alt="Iphone 14">
                                </div>
                                <div class="products-content p-2">
                                    <p class="products-content-title">iPhone 14 Pro 128GB | Chính hãng VN/AiPhone 14 Pro 128GB | Chính hãng VN/AiPhone 14 Pro 128GB | Chính hãng VN/A</p>
                                    <div class="products-content-price">
                                        <span class="price-new">22.222.222 đ</span>
                                        <span class="price-old">25.555.555 đ</span>
                                    </div>
                                </div>
                                <div class="products-infoFree ">
                                    <p>Tặng thêm dịch vụ bảo hành vip 12 tháng 1 đổi 1</p>
                                </div>
                                <div class="products-likes">
                                    <i class="ti-heart"></i>
                                </div>
                            </a>
                        </div>

                         <div class="swiper-slide">
                            <a href="#" class="products">
                                <div class="products-imgae p-1">
                                    <img width="70%" height="70%" src="~/images/products/t_m_12.webp" alt="Iphone 14">
                                </div>
                                <div class="products-content p-2">
                                    <p class="products-content-title">iPhone 14 Pro 128GB | Chính hãng VN/AiPhone 14 Pro 128GB | Chính hãng VN/AiPhone 14 Pro 128GB | Chính hãng VN/A</p>
                                    <div class="products-content-price">
                                        <span class="price-new">22.222.222 đ</span>
                                        <span class="price-old">25.555.555 đ</span>
                                    </div>
                                </div>
                                <div class="products-infoFree ">
                                    <p>Tặng thêm dịch vụ bảo hành vip 12 tháng 1 đổi 1</p>
                                </div>
                                <div class="products-likes">
                                    <i class="ti-heart"></i>
                                </div>
                            </a>
                        </div>

                         <div class="swiper-slide">
                            <a href="#" class="products">
                                <div class="products-imgae p-1">
                                    <img width="70%" height="70%" src="~/images/products/t_m_12.webp" alt="Iphone 14">
                                </div>
                                <div class="products-content p-2">
                                    <p class="products-content-title">iPhone 14 Pro 128GB | Chính hãng VN/AiPhone 14 Pro 128GB | Chính hãng VN/AiPhone 14 Pro 128GB | Chính hãng VN/A</p>
                                    <div class="products-content-price">
                                        <span class="price-new">22.222.222 đ</span>
                                        <span class="price-old">25.555.555 đ</span>
                                    </div>
                                </div>
                                <div class="products-infoFree ">
                                    <p>Tặng thêm dịch vụ bảo hành vip 12 tháng 1 đổi 1</p>
                                </div>
                                <div class="products-likes">
                                    <i class="ti-heart"></i>
                                </div>
                            </a>
                        </div>

                         <div class="swiper-slide">
                            <a href="#" class="products">
                                <div class="products-imgae p-1">
                                    <img width="70%" height="70%" src="~/images/products/t_m_12.webp" alt="Iphone 14">
                                </div>
                                <div class="products-content p-2">
                                    <p class="products-content-title">iPhone 14 Pro 128GB | Chính hãng VN/AiPhone 14 Pro 128GB | Chính hãng VN/AiPhone 14 Pro 128GB | Chính hãng VN/A</p>
                                    <div class="products-content-price">
                                        <span class="price-new">22.222.222 đ</span>
                                        <span class="price-old">25.555.555 đ</span>
                                    </div>
                                </div>
                                <div class="products-infoFree ">
                                    <p>Tặng thêm dịch vụ bảo hành vip 12 tháng 1 đổi 1</p>
                                </div>
                                <div class="products-likes">
                                    <i class="ti-heart"></i>
                                </div>
                            </a>
                        </div>

                         <div class="swiper-slide">
                            <a href="#" class="products">
                                <div class="products-imgae p-1">
                                    <img width="70%" height="70%" src="~/images/products/t_m_12.webp" alt="Iphone 14">
                                </div>
                                <div class="products-content p-2">
                                    <p class="products-content-title">iPhone 14 Pro 128GB | Chính hãng VN/AiPhone 14 Pro 128GB | Chính hãng VN/AiPhone 14 Pro 128GB | Chính hãng VN/A</p>
                                    <div class="products-content-price">
                                        <span class="price-new">22.222.222 đ</span>
                                        <span class="price-old">25.555.555 đ</span>
                                    </div>
                                </div>
                                <div class="products-infoFree ">
                                    <p>Tặng thêm dịch vụ bảo hành vip 12 tháng 1 đổi 1</p>
                                </div>
                                <div class="products-likes">
                                    <i class="ti-heart"></i>
                                </div>
                            </a>
                        </div>

                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>

        </div>
    </div>

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <!-- Initialize Swiper -->
    <script>
        swiper('#mySwiper', 5, 1);
        function swiper(idContainer, slidesPerView, row) {
            var swiper = new Swiper(idContainer, {
                slidesPerView: slidesPerView,
                grid: {
                    rows: row
                },
                spaceBetween: 10,
                pagination: {
                    el: ".swiper-pagination",
                    clickable: true
                },
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev"
                },
                autoplay: {
                    delay: 3000,
                    disableOnInteraction: true
                }
            });

            var s = document.querySelector(idContainer);
            s.addEventListener('mouseenter', function () {
                swiper.autoplay.stop();
            });
            s.addEventListener('mouseleave', function () {
                swiper.autoplay.start()
            });
        }


    </script>
</body>
