@using Microsoft.AspNetCore.Identity;
@inject SignInManager<AppUserModel> signInManager;
@inject UserManager<AppUserModel> userManager;
<div id="main" class="text-white">
    <div class="bg-client">
        <div class="grid wide d-flex justify-content-between  justify-content-center align-items-center h-100">
            <div class="d-flex">
                <div class="logo pr-3">
                    <a href="/"><img src="~/images/logo_nks.png" alt=""></a>
                </div>
                <div class="list-menu d-flex ">
                    <div class="menu-item menu-parents px-1 rounded mx-1 box-shadow d-flex justify-content-center">
                        <a href="#" class="text-white py-1 px-2 ">
                            <i class="fa-solid fa-list"></i> Danh mục
                        </a>
                    </div>
                    <div class="menu-item px-1 box-shadow rounded mx-1 d-flex justify-content-center">
                        <a asp-action="SendContact" asp-controller="contact" asp-area="contact" asp
                            class="text-white  py-1 px-2 "><i class="fa-regular fa-id-badge"></i> Liên hệ</a>
                    </div>
                    <div class="menu-item px-1 rounded box-shadow mx-1 d-flex justify-content-center">
                        <a asp-action="index" asp-area="Blog" asp-controller="ViewPost"
                            class="text-white py-1 px-2 "><i class="fa-brands fa-blogger"></i> Bài viết</a>
                    </div>
                </div>
            </div>

            <div class="list-menu d-flex">
                <form action="">
                    <input type="Search" placeholder="Bạn cần tìm gì..." class="rounded border-0 p-1">
                    <button class="rounded border-0  p-1"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
            <div class="list-menu d-flex">
                <div class="menu-item px-2 py-1 box-shadow rounded mx-1">
                    <a asp-action="Cart" asp-controller="ProductsClient" class="text-white">
                       <i class="fa-solid fa-cart-arrow-down"></i> Giỏ hàng
                    </a>
                </div>

                <div class="menu-item menu-user  px-2 py-1 box-shadow rounded mx-1 ">
                    @if (signInManager.IsSignedIn(User))
                    {
                        <div class="user"> @userManager.GetUserName(User)</div>
                        <form asp-area="Identity" asp-controller="Account" asp-action="Logout" method="POST"
                            class="user-info">
                            <div class="user-info-item box-shadow"><a asp-area="Identity" asp-controller="Manage"
                                    asp-action="profileUser"><i class="fa-solid fa-user"></i> Thông tin</a></div>
                            <div class="user-info-item box-shadow"><a asp-area="Identity" asp-controller="Manage"
                                    asp-action="ChangePassword"><i class="fa-solid fa-lock mx-2"></i>Đổi mật khẩu</a></div>
                            <div class="user-info-item box-shadow"><button type="submit"><i class="fa-solid fa-right-from-bracket mx-2"></i> Đăng xuất</button></div>
                        </form>
                    }
                    else
                    {
                        <a asp-asp="Identity" asp-controller="Account" asp-action="Login" class="text-white">
                            <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12ZM15 9C15 10.6569 13.6569 12 12 12C10.3431 12 9 10.6569 9 9C9 7.34315 10.3431 6 12 6C13.6569 6 15 7.34315 15 9ZM12 20.5C13.784 20.5 15.4397 19.9504 16.8069 19.0112C17.4108 18.5964 17.6688 17.8062 17.3178 17.1632C16.59 15.8303 15.0902 15 11.9999 15C8.90969 15 7.40997 15.8302 6.68214 17.1632C6.33105 17.8062 6.5891 18.5963 7.19296 19.0111C8.56018 19.9503 10.2159 20.5 12 20.5Z"
                                        fill="white"></path>
                                </g>
                            </svg>
                        </a>
                    }

                </div>
            </div>
        </div>
    </div>
</div>