@page "/button"

<head>
    <link rel="stylesheet" href="~/css/validateform.css">
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/custom.css" rel="stylesheet">
    <link href="~/icons/font-awesome/css/font-awesome.min.css" rel="stylesheet">
</head>

<div class="c-transparent-bg">
    <div class="d-flex justify-content-center align-items-center h-100">
        <div class="bg-white c-boxshow  rounded p-4 w-75 text-dark">
            <div class="row border-bottom">
                <div class="col l-6">
                    <label class="p-1 c-font-weight">Người gửi: </label>
                    <label class="p-1  border-bottom  ">Nguyễn Khánh Sơn </label>
                </div>
                <div class="col l-6 ">
                    <label class="p-1 c-font-weight ">Email: </label>
                    <label class="p-1  border-bottom  ">Nguyễn Khánh Sơn </label>
                </div>
            </div>
            <div class="row border-bottom">
                <div class="col l-6">
                    <label class="p-1 c-font-weight">Số điện thoại: </label>
                    <label class="p-1  border-bottom  ">0943217670 </label>
                </div>
                <div class="col l-6">
                    <label class="p-1 c-font-weight">Ngày gửi: </label>
                    <label class="p-1  border-bottom  ">17052003</label>
                </div>
            </div>
            <div class="row border-bottom">
                <div class="col l-12">
                    <label class="p-1 center c-font-weight">Nội dung</label>
                    <label class="p-1 center ">Văn học là một lĩnh vực rộng lớn và đa dạng, bao gồm nhiều thể loại
                        khác nhau như tiểu thuyết, truyện ngắn, thơ, kịch, và nhiều hơn nữa. Mỗi thể loại mang đến một
                        trải nghiệm độc đáo cho người đọc, từ sự phong phú của ngôn ngữ đến sự sâu sắc của nhân vật và
                        cốt truyện.

                        Tiểu thuyết có thể mô tả cuộc sống hàng ngày với chi tiết mô phỏng, trong khi truyện ngắn thường
                        tập trung vào một khoảnh khắc hoặc sự kiện cụ thể. Thơ là một biểu hiện của cảm xúc và tình cảm,
                        thường được biểu hiện qua ngôn ngữ hình ảnh và âm điệu. Kịch thì tạo ra một không gian để nhân
                        vật và hành động nói lên tất cả.</label>
                </div>
            </div>
            <div class="p-1  d-flex justify-content-between">
                <div class="">
                    <label class="c-font-weight">Trạng thái: </label>
                    <label>Đã xem</label>
                </div>
                <button class="btn c-btn-yes">Đóng</button>
            </div>
        </div>
    </div>
</div>