@page "/button"

<head>
<link rel="stylesheet" href="~/css/site.min.css">
<link href="~/icons/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />

</head>

<body>
    <!-- Swiper -->
    <div class="row wide Container ">
        <h1>Sản phẩm bạn chạy</h1>
        <div id="mySwiper" class="swiper mySwiper">
             <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="products">
                        <div class="products-imgae">
                            <img width="80%" height="80%" src="~/images/products/t_m_12.webp" alt="Iphone 14">
                        </div>
                        <div class="products-content">
                            <p class="products-content-title">iPhone 14 Pro 128GB | Chính hãng VN/A</p>
                            <div class="products-content-price">
                                <span class="price-new">22.222.222 đ</span>
                                <span class="price-old">25.555.555 đ</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="products">
                        <div class="products-imgae">
                            <img width="160px" height="160px" src="~/images/products/t_m_12.webp" alt="Iphone 14">
                        </div>
                        <div class="products-content">
                            <span class="products-content-title">iPhone 14 Pro 128GB | Chính hãng VN/A</span>
                            <div class="products-content-price">
                                <span class="price-new">22.222.222 đ</span>
                                <span class="price-old">25.555.555 đ</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="products">
                        <div class="products-imgae">
                            <img width="160px" height="160px" src="~/images/products/t_m_12.webp" alt="Iphone 14">
                        </div>
                        <div class="products-content">
                            <span class="products-content-title">iPhone 14 Pro 128GB | Chính hãng VN/A</span>
                            <div class="products-content-price">
                                <span class="price-new">22.222.222 đ</span>
                                <span class="price-old">25.555.555 đ</span>
                            </div>
                        </div>
                    </div>
                </div>
                  <div class="swiper-slide">
                    <div class="products">
                        <div class="products-imgae">
                            <img width="160px" height="160px" src="~/images/products/t_m_12.webp" alt="Iphone 14">
                        </div>
                        <div class="products-content">
                            <span class="products-content-title">iPhone 14 Pro 128GB | Chính hãng VN/A</span>
                            <div class="products-content-price">
                                <span class="price-new">22.222.222 đ</span>
                                <span class="price-old">25.555.555 đ</span>
                            </div>
                        </div>
                    </div>
                </div>
                  <div class="swiper-slide">
                    <div class="products">
                        <div class="products-imgae">
                            <img width="160px" height="160px" src="~/images/products/t_m_12.webp" alt="Iphone 14">
                        </div>
                        <div class="products-content">
                            <span class="products-content-title">iPhone 14 Pro 128GB | Chính hãng VN/A</span>
                            <div class="products-content-price">
                                <span class="price-new">22.222.222 đ</span>
                                <span class="price-old">25.555.555 đ</span>
                            </div>
                        </div>
                    </div>
                </div>
                  <div class="swiper-slide">
                    <div class="products">
                        <div class="products-imgae">
                            <img width="160px" height="160px" src="~/images/products/t_m_12.webp" alt="Iphone 14">
                        </div>
                        <div class="products-content">
                            <span class="products-content-title">iPhone 14 Pro 128GB | Chính hãng VN/A</span>
                            <div class="products-content-price">
                                <span class="price-new">22.222.222 đ</span>
                                <span class="price-old">25.555.555 đ</span>
                            </div>
                        </div>
                    </div>
                </div>
                  <div class="swiper-slide">
                    <div class="products">
                        <div class="products-imgae">
                            <img width="160px" height="160px" src="~/images/products/t_m_12.webp" alt="Iphone 14">
                        </div>
                        <div class="products-content">
                            <span class="products-content-title">iPhone 14 Pro 128GB | Chính hãng VN/A</span>
                            <div class="products-content-price">
                                <span class="price-new">22.222.222 đ</span>
                                <span class="price-old">25.555.555 đ</span>
                            </div>
                        </div>
                    </div>
                </div>
                  <div class="swiper-slide">
                    <div class="products">
                        <div class="products-imgae">
                            <img width="160px" height="160px" src="~/images/products/t_m_12.webp" alt="Iphone 14">
                        </div>
                        <div class="products-content">
                            <span class="products-content-title">iPhone 14 Pro 128GB | Chính hãng VN/A</span>
                            <div class="products-content-price">
                                <span class="price-new">22.222.222 đ</span>
                                <span class="price-old">25.555.555 đ</span>
                            </div>
                        </div>
                    </div>
                </div>
                  <div class="swiper-slide">
                    <div class="products">
                        <div class="products-imgae">
                            <img width="160px" height="160px" src="~/images/products/t_m_12.webp" alt="Iphone 14">
                        </div>
                        <div class="products-content">
                            <span class="products-content-title">iPhone 14 Pro 128GB | Chính hãng VN/A</span>
                            <div class="products-content-price">
                                <span class="price-new">22.222.222 đ</span>
                                <span class="price-old">25.555.555 đ</span>
                            </div>
                        </div>
                    </div>
                </div>
                
               
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>


    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <!-- Initialize Swiper -->
    <script>
        swiper('#mySwiper', 4, 2);
        function swiper(idContainer, slidesPerView, rows = 2) {
            console.log(idContainer, slidesPerView, rows)
            var swiper = new Swiper(idContainer, {
                slidesPerView: slidesPerView,
                grid: {
                    rows: rows
                },
                spaceBetween: 10,
                pagination: {
                    el: ".swiper-pagination",
                    clickable: true
                },
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev"
                },
                autoplay: {
                    delay: 1000,
                    disableOnInteraction: false
                }
            });

            var s = document.querySelector(idContainer);
            s.addEventListener('mouseenter', function () {
                swiper.autoplay.stop();
            });
            s.addEventListener('mouseleave', function () {
                swiper.autoplay.start()
            });
        }


    </script>
</body>
