@page "/LoginAdmin.cshtml"

<head>
    <link rel="stylesheet" href="~/css/validateform.css">
    <link href="~/css/style.css" rel="stylesheet">

</head>

<body>
    <div class="details">
        <div class="c-transparent-bg">
            <div class="c-form d-flex justify-content-center align-items-center">
                <div class="animate c-m-e-20 bg-white c-boxshow  rounded p-4 c-w-60 text-dark">
                    <form id="Create-Role" class="">
                        <h3>Thêm mới vai trò (Role)</h3>
                        <div class="form-group form-field">
                            <input id="tester" name="tester" rule="required" type="text" placeholder=" "
                                class="form-input form-error form-control">
                            <label for="tester" class="form-label">Tên vai trò</label>
                            <span class="form-message"></span>
                        </div>
                        <button type="submit" class="form-submit w-50">Đăng nhập</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
    @* <script src="~/js/validateform.js"></script> *@
    <script type="module">
        import { Validate } from "../js/validateform.js";

        Validate("#Create-Role" , s)
        function s(data){
            console.log(data);
        }
    </script>
</body>