@page "/Menu"
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/styleClient.css">
    <link rel="stylesheet" href="~/css/grid.css">

</head>

<body>
    <div id="main" class="text-white">
        <div class="bg-client">
            <div class="grid wide d-flex justify-content-between  justify-content-center align-items-center h-100">
                <div class="d-flex">
                    <div class="logo pr-3">
                        <a href="#"><img src="~/images/logo_nks.png" alt=""></a>
                    </div>
                    <div class="list-menu d-flex ">
                        <div class="menu-item menu-parents px-1">
                            <a href="#" class="text-white border py-1 px-2 rounded">
                                <i class="ti-menu" style="color: #ffffff;"></i>
                                Danh mục
                            </a>
                            <div class="menu-child shadow-lg rounded bg-client ">
                                <div class="menu-child-category">

                                </div>
                                <div class="menu-child-brand">

                                </div>
                            </div>
                        </div>
                        <div class="menu-item px-1">
                            <a href="#" class="text-white border py-1 px-2 rounded">Liên hệ</a>
                        </div>
                        <div class="menu-item px-1">
                            <a href="#" class="text-white border py-1 px-2 rounded">Giới thiệu</a>
                        </div>


                    </div>
                </div>

                <div class="list-menu d-flex">
                    <form action="">
                        <input type="Search" placeholder="Bạn cần tìm gì..." class="rounded border-0 p-1">
                        <button class="rounded border-0  p-1"><i class="ti-search p-1"></i></button>
                    </form>
                </div>
                <div class="list-menu d-flex">
                    <div class="menu-item px-2">
                        <a href="" class="text-white border py-1 px-2 rounded">
                            <i class="ti-shopping-cart"></i> Giỏ hàng
                        </a>
                    </div>

                    <div class="menu-item pl-2">
                        <a href="" class="text-white border py-1 px-2 rounded fw-bold">
                            <i class="ti-user"></i> Đăng nhập
                        </a>
                    </div>


                </div>
            </div>
        </div>
    </div>
</body>

</html>